.text-img{
    position: relative;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
}

.contenedor{
    padding: 50px;
    text-align: center;
}

.contenedorDos{
    display: flex;
    align-items: stretch;
}