.text-img{
    position: relative;
    text-align: center;
}

.imagenD{
    width: 50%;
    height: 50%;
    padding: 30px;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
}

.contenedor{
    padding: 50px;
    text-align: center;
    align-items: center;
}

.contenedorTwo{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #000000;
    color: azure;
}

a:link{
    color: #000000;
}

a:visited{ 
    color: #000000; 
}

.tituloOne{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.tituloFour{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

p{
    font-family: 'Nunito', sans-serif;
}

.texto{
    font-family: 'Nunito', sans-serif;
}